.containers {
  width: 95%;
}

.app-card {
  max-width: 360px;
  max-height: 300px;
  background-color: rgb(225, 238, 247);
}

.filter-group {
  width: 700px;
  margin-top: 30px;
  margin-left: 30px;
}

.mat-button {
  margin: 10px;
}