  <mat-toolbar class="app-toolbar">
    <span>MQTT CLOUD CONNECTOR - CONFIGURATION</span>
  </mat-toolbar>
<mat-tab-group class="tab-group">
  <mat-tab label="Configuration">
<div class="buttons">
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="getConfig()">Read Configuration</button>
      <button mat-raised-button color="primary" (click)="setConfig()">Write Configuration</button>
      <button mat-raised-button color="primary" (click)="importConfig()">Import Configuration</button>
      <input type="file" #file accept=".json" style="display: none" (change)="onFilesAdded()"/>
      <button mat-raised-button color="primary" (click)="exportConfig()">Export Configuration</button>  
    </div>
  </section>
</div>
<div class="clients">
  <div class="ClientSub">
    <h3>Subscriber: MQTT Client</h3>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Client ID</mat-label>
        <input matInput placeholder="client ID" [(ngModel)]="mccConfig.ClientSub.ClientId">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Server Address</mat-label>
        <input matInput placeholder="tcp://localhost:4840" [(ngModel)]="mccConfig.ClientSub.ServerAddress">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Quality of Service</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientSub.Qos" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Connection Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientSub.ConnectionTimeout" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Write Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientSub.WriteTimeout" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Keep Alive (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientSub.KeepAlive" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Ping Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientSub.PingTimeout" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientSub.ConnectRetry" *ngIf="mccConfig?.ClientSub">Connection Retry</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientSub.AutoConnect" *ngIf="mccConfig?.ClientSub">Auto Connect</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientSub.OrderMaters" *ngIf="mccConfig?.ClientSub">Order Maters</mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientSub.UserName" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientSub.Password" *ngIf="mccConfig?.ClientSub">
      </mat-form-field>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientSub.TlsConn" *ngIf="mccConfig?.ClientSub">TLS Connection</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientSub.InsecureSkipVerify" *ngIf="mccConfig?.ClientSub">Skip Insecure Verification</mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Root CA Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientSub.RootCAPath">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Client Key Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientSub.ClientKeyPath">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientSub">
        <mat-label>Private Key Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientSub.PrivateKeyPath">
      </mat-form-field>
  </div>
  <div class="ClientPub">
    <h3>Publisher: MQTT Client</h3>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Client ID</mat-label>
        <input matInput placeholder="client ID" [(ngModel)]="mccConfig.ClientPub.ClientId">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Server Address</mat-label>
        <input matInput placeholder="tcp://localhost:4840" [(ngModel)]="mccConfig.ClientPub.ServerAddress">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Quality of Service</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.Qos" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Connection Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.ConnectionTimeout" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Write Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.WriteTimeout" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Keep Alive (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.KeepAlive" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Ping Timeout (s)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.PingTimeout" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.ConnectRetry" *ngIf="mccConfig?.ClientPub">Connection Retry</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.AutoConnect" *ngIf="mccConfig?.ClientPub">Auto Connect</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.OrderMaters" *ngIf="mccConfig?.ClientPub">Order Maters</mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientPub.UserName" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientPub.Password" *ngIf="mccConfig?.ClientPub">
      </mat-form-field>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.TlsConn" *ngIf="mccConfig?.ClientPub">TLS Connection</mat-checkbox>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.InsecureSkipVerify" *ngIf="mccConfig?.ClientPub">Skip Insecure Verification</mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Root CA Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientPub.RootCAPath">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Client Key Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientPub.ClientKeyPath">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Private Key Path</mat-label>
        <input matInput placeholder="" [(ngModel)]="mccConfig.ClientPub.PrivateKeyPath">
      </mat-form-field>
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.ClientPub.TranslateTopic" *ngIf="mccConfig?.ClientPub">Translate Topic</mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill"  *ngIf="mccConfig?.ClientPub">
        <mat-label>Publish Interval (ms)</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="mccConfig.ClientPub.PublishInterval">
      </mat-form-field>
  </div>
  <div class="Logs">
    <h3>Log Options</h3>
    <div class="checkbox">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.Logs.SubPayload" *ngIf="mccConfig?.Logs">Sub Payload</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.Logs.Debug" *ngIf="mccConfig?.Logs">Debug Level</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.Logs.Warning" *ngIf="mccConfig?.Logs">Warning Level</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.Logs.Error" *ngIf="mccConfig?.Logs">Error Level</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="mccConfig.Logs.Critical" *ngIf="mccConfig?.Logs">Critical Level</mat-checkbox>
    </div>
    <section>
      <div class="example-label">Topics to Subscribe</div>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="addSubTopic()">+</button>
        <button mat-raised-button color="primary" (click)="deleteSubTopic()">-</button>
      </div>
    </section>
    <div class name="nodes" *ngFor="let Topic of mccConfig?.TopicsSub?.Topic; let i = index; trackBy:trackByFn">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Topic {{i}}</mat-label>
        <input matInput placeholder="Node Name" [(ngModel)]="mccConfig.TopicsSub.Topic[i]">
      </mat-form-field>
    </div> 
    <section>
      <div class="example-label">Topics to Publish to</div>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="addPubTopic()">+</button>
        <button mat-raised-button color="primary" (click)="deletePubTopic()">-</button>
      </div>
    </section>
    <div class name="nodes" *ngFor="let Topic of mccConfig?.TopicsPub?.Topic; let i = index; trackBy:trackByFn">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Topic {{i}}</mat-label>
        <input matInput placeholder="Node Name" [(ngModel)]="mccConfig.TopicsPub.Topic[i]">
      </mat-form-field>
    </div> 
  </div> 
 </div> 
</mat-tab>
<mat-tab label="Logs"> Placeholder for Logs </mat-tab>
</mat-tab-group>