.app-toolbar {
  position: fixed;
  z-index: 1000;
  margin-top: 64px;
}

.tab-group {
  margin-top: 148px;
  margin-left: 20px;
}

  .buttons {
    width: auto;
    margin: 5px;
  }
  
.input {
  width: 100%;
  margin-bottom: 0.3em;
}

.nodes {
  width: 100%;
  margin-bottom: 0.0em;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.8em;
  margin-right: 20px;
}


.ClientSub, .ClientPub, .OpcuaClient, .Logs {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.8em;
  margin-right: 20px;
}

label {
  text-align: left;
  font-weight: bold;
}

input {
  margin-top: 0;
  width: 400px;
}

.clients {
  display: inline-grid;
  grid-template-columns: 410px 410px 420px;
}


.checkbox {
  width: 100%;
  margin-bottom: 0.3em;
}

.inputcheckbox {
  width: 100%;
  margin-bottom: 0.3em;
}

.example-full-width {
  width: 90%;
}

.nodes-to-read {
  display: table;
  justify-content: left;
  width: 300px;
  justify-content: left;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 18px;
  margin-left: 8px;
  min-width: 190px;
}

.example-button-row {
  display: table-cell;
  width: 700px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px;
}
