<mat-toolbar class="app-toolbar">
    <span>Volumes</span>
</mat-toolbar>
<div class="Volumes">
    <span *ngFor="let volume of volumes?.Volumes; let i = index">
        <mat-card class="app-card" *ngIf="hideVolume(volume.Name)">
            <mat-card-header>
                <mat-card-title>{{volume.Name}}</mat-card-title>
                <mat-card-subtitle>
                     <p>Created at: {{volume.CreatedAt}}</p>
                    <p>Labels: {{volume.Labels}}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Driver: {{volume.Driver}}</p>
                <p>Mount Point: {{volume.Mountpoint}}</p>
                <p>Scope: {{volume.Scope}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button (click)="inspectVolume(volume.Name)" [disabled]="!roleExpert()">Inspect</button>
                <button mat-button (click)="removeVolume(volume.Name)" [disabled]="!roleExpert()">Remove</button>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
