<mat-toolbar class="app-toolbar">
  <span></span>
</mat-toolbar>
<div class="Login">
  <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <div class="topline">
              <mat-form-field class="form-width" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput autocomplete="off" placeholder="" [(ngModel)]="User.Username">
              </mat-form-field>
              <mat-form-field class="form-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput (keydown.enter)="login()" autocomplete="off" type="password" placeholder="" [(ngModel)]="User.Password">
              </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Log in</button>
      </mat-card-actions>
  </mat-card>
</div>