<mat-toolbar class="app-toolbar">
    <span>System</span>
</mat-toolbar>
<mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group">
    <mat-tab label="System Info">
        <div class="system">
            <mat-card class="app-card">
                <mat-card-header>
                  <mat-card-title>Host System:</mat-card-title>
                  <mat-card-subtitle>Info related to the Host Operating System.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Host Name: {{SystemInfo.Name}}</p>
                    <p>Operating System: {{SystemInfo.OperatingSystem}}</p>
                    <p>Architecture: {{SystemInfo.Architecture}}</p>
                    <p>Kernel Version: {{SystemInfo.KernelVersion}}</p>
                    <p>Number of Processors: {{SystemInfo.NCPU}}</p>
                    <p>Total RAM Memory: {{SystemInfo.MemTotal}} Bytes</p>
                    <p>System Time: {{SystemInfo.SystemTime}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="app-card">
                <mat-card-header>
                  <mat-card-title>Containers Engine:</mat-card-title>
                  <mat-card-subtitle>Info related to the Host Containers Engine.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Server Version: {{SystemInfo.ServerVersion}}</p>
                    <p>Containers: {{SystemInfo.Containers}}</p>
                    <p>Containers Running: {{SystemInfo.ContainersRunning}}</p>
                    <p>Containers Stopped: {{SystemInfo.ContainersStopped}}</p>
                    <p>Containers Paused: {{SystemInfo.ContainersPaused}}</p>
                    <p>Images: {{SystemInfo.Images}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Warnings">
        <div class="Warnings">
            <mat-card class="warning-card" *ngFor="let Warning of SystemInfo.Warnings">
                <mat-card-header>
                  <mat-card-title></mat-card-title>
                  <mat-card-subtitle>{{Warning}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>      