<mat-toolbar class="app-toolbar">
    <span>Networks</span>
</mat-toolbar>
<div class="create-network">
  <mat-form-field appearance="fill" *ngIf="roleExpert()">
    <mat-label>Network Name</mat-label>
    <input matInput placeholder="my-network" [(ngModel)]="networkName">
  </mat-form-field>
  <button mat-raised-button class="mat-button" color="primary" (click)="createNetwork()" *ngIf="roleExpert()">Create Network</button>
</div>

    <mat-card class="app-card" *ngFor="let network of networks; let i = index">
        <mat-card-header>
          <mat-card-title>{{network.Name}}</mat-card-title>
          <mat-card-subtitle>
            <p>Created at: {{network.Created}}</p>
            <div>Labels:</div>
            <div *ngFor="let label of network.Labels| keyvalue">
                {{label.key}}:{{label.value}}
            </div>
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Driver: {{network.Driver}}</p>
            <p>IPAM Driver: {{network.IPAM.Driver}}</p>
            <div>IPAM Config:</div>
            <div *ngFor="let config of network.IPAM.Config">
                Subnet: {{config.Subnet}}, IP Range: {{config.IPRange}}, Gateway: {{config.Gateway}}
            </div>
            <p></p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="removeNetwork(network.Id)" [disabled]="!roleExpert()">Remove Network</button>
        </mat-card-actions>
    </mat-card>

