<mat-toolbar class="app-toolbar">
  <span>Apps</span>
</mat-toolbar>
<section>
  <div class="example-button-row" *ngIf="filterEnabled()">
    <mat-form-field appearance="standard">
      <mat-label>Network</mat-label>
      <mat-select [(ngModel)]="networkName" disableOptionCentering >
        <mat-option *ngFor="let network of networks" [value]="network.Name">
          {{network.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getContainers(networkName)">Filter</button>
  </div>
</section>
<div class="containers">
  <mat-card class="example-card" *ngFor="let container of containers">
      <mat-card-title-group>
        <mat-card-title>{{container.Names[0]}}</mat-card-title>
        <mat-card-subtitle>{{container.State}}</mat-card-subtitle>
        <!-- <img mat-card-sm-image src={{template.logo}} > -->
      </mat-card-title-group>
      <mat-card-content>
          <p>State: {{container.Status}}</p>
          <p>Network: {{container.HostConfig.NetworkMode}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-button [matMenuTriggerFor]="menu">actions</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="startContainer(container.Id)">Start</button>
              <button mat-menu-item (click)="stopContainer(container.Id)">Stop</button>
              <button mat-menu-item (click)="restartContainer(container.Id)">Restart</button>
              <button mat-menu-item (click)="removeContainer(container.Id)">Remove</button>
              <button mat-menu-item (click)="openConfig(container)">Configure</button>
              <button mat-menu-item (click)="getContainerStats(container.Id)">Stats</button>
              <button mat-menu-item (click)="getContainerLogs(container.Id)">Logs</button>
            </mat-menu>
        </mat-card-actions>
</mat-card>
<div>