/* section {
  display: table;
  margin-top: 148px;
  margin-left: 20px;
  margin-bottom: 20px;
} */

.containers {
  width: calc(100vh - 64px);
}

.app-card {
  max-width: 300px;
  max-height: 300px;
  background-color: rgb(225, 238, 247);
}

.filter-group {
  width: 700px;
  margin-top: 30px;
  margin-left: 30px;
}

.mat-button {
  margin: 10px;
}