.app-toolbar {
  position: fixed;
  z-index: 1000;
  margin-top: 64px;
}

.Users {
    margin-left: 20px;
  }

  .example-card {
    max-width: 1000px;
    max-height: 350px;
    margin-bottom: 50px;
    background-color: rgb(245, 245, 248);
  }

  .example-full-width {
    width: 90%;
  }

  .rep-full-width {
    width: 99%;
  }

  section {
    display: table;
    margin-top: 148px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .example-button-row {
    display: table-cell;
    width: 700px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px;
  }

  .topline {
    display: inline-grid;
    grid-template-columns: 340px 340px 340px;
  }

  .bottomline {
    display: table-cell;
    width: 1000px;
    margin: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  }

  .lastline {
    margin-top: 30px;
  }

  .example-margin {
    margin-left: 20px;
  }

  .checkbox-margin {
    margin-right: 20px;
  }