<mat-toolbar class="app-toolbar">
  <span></span>
</mat-toolbar>
<mat-selection-list class="selection" color="primary" *ngIf="isAuthenticated()" #options [multiple]="false">
    <mat-list-option routerLink="Dashboard">Performance</mat-list-option>
    <mat-list-option *ngIf="AppsMenuEnabled()" routerLink="Apps">Apps</mat-list-option>
    <mat-list-option *ngIf="AppsRepMenuEnabled()" routerLink="App-Repository">App Repository</mat-list-option>
    <mat-list-option *ngIf="AppLaunchMenuEnabled()" routerLink="App-Launcher">App Launcher</mat-list-option>
    <mat-list-option *ngIf="ImagesMenuEnabled()" routerLink="Images">Images</mat-list-option>
    <mat-list-option *ngIf="VolumesMenuEnabled()" routerLink="Volumes">Volumes</mat-list-option>
    <mat-list-option *ngIf="NetworksMenuEnabled()" routerLink="Networks">Networks</mat-list-option>
    <mat-list-option *ngIf="SystemMenuEnabled()" routerLink="System">System</mat-list-option>
    <mat-list-option *ngIf="SettingsMenuEnabled()" routerLink="Settings">Settings</mat-list-option>
    <mat-list-option *ngIf="UsersMenuEnabled()" routerLink="Users">Users</mat-list-option>
  </mat-selection-list>
