.system {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  }
  
  .cpu-card {
    width: 400px;
    max-height: 600px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .memory-card {
    width: 400px;
    max-height: 600px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .disk-card {
    width: 400px;
    max-height: 600px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 248);
  }

  .topline {
    display: inline-grid;
    grid-template-columns: 200px 200px;
  }

  .CPU, .RAM {
    padding: 20px
  }