<mat-toolbar class="app-toolbar">
    <span>Images</span>
</mat-toolbar>
<div class="Images">
    <span  *ngFor="let image of images; let i = index">
        <mat-card class="app-card" *ngIf="hideImage(image.RepoTags[0])">
            <mat-card-header>
                <mat-card-title>{{image.RepoTags[0]}}</mat-card-title>
                <mat-card-subtitle>Containers: {{image.Containers}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button (click)="removeImage(image.Id)" [disabled]="!roleExpert()">Remove Image</button>
            </mat-card-actions>
        </mat-card>
    </span>    
</div>