.tab-group {
  margin-top: 30px;
  margin-left: 30px;
}

.Interfaces {
  display: inline-flex;
  flex-wrap: wrap; 
  }

  .app-card {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 260px;
    max-height: 480px;
    background-color: rgb(245, 245, 248);
  }

  .form-width-dropdown {
    width: 200px;
    margin-right: 20px;
  }

  .mat-button {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
